$icomoon-font-path: "fonts" !default;

$icon-credit-card: \e900;
$icon-email: \e901;
$icon-twitter-with-circle: \e902;
$icon-facebook-with-circle: \e903;
$icon-instagram-with-circle: \e904;
$icon-twitter: \e905;
$icon-paper-plane: \e906;
$icon-travel: \e906;
$icon-plane: \e906;
$icon-envelope2: \e907;
$icon-email2: \e907;
$icon-mail: \e907;
$icon-letter: \e907;
$icon-contact: \e907;
$icon-social-twitter-circular: \e908;
$icon-cc-mastercard: \e909;
$icon-cc-visa: \e90a;
$icon-envelope: \e90b;
$icon-telegram: \e90c;
$icon-coin-dollar: \e93b;
$icon-credit-card2: \e93f;
$icon-phone: \e942;
$icon-circle-up: \ea41;
$icon-circle-right: \ea42;
$icon-circle-down: \ea43;
$icon-circle-left: \ea44;
$icon-mail4: \ea86;
$icon-instagram: \ea92;

